.wrapper {
	display: flex;
}

.stick {
	height: 450px;
	width: 10px;
	background: black;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.flag {
	width: 240px;
	height: 120px;
	box-shadow: 0px 0px 45px 1px rgb(54, 50, 54);
	background-color: transparent;
	position: relative;
}
.top {
	height: 40px;
	background-color: #ff0000
}

.middle {
	height: 40px;
	background-color: blue
}

.bottom {
	height: 40px;
	background-color: 	#F8B878
}
